.container {
    background-color: black;
    padding : 50px;
    border-radius: 20px;
}
input {
    color : white;
    /* width : 300px; */
}

button {
    color: black;
    background-color: white;
    width: 300px;
}
button:hover {
    color: black;
    background-color: white;
}

a {
    color: white;
    margin : 10px 0;
}

.gender {
    background-color: white;
    /* margin: 20px; */
    /* padding : 10px 10px; */
    height: 40px;
    width: 200px;
    border-radius: 10px;
}

.gender label {
    margin-top: 8px;
    margin-left: 20px;
}
.gender input {
    margin-top: 13px;
    margin-left: 20px;
}
/* .gender label {
    margin-right : 5px;
} */

p {
    color : white;
}