<div class="container">
    <form>
        <fieldset >
          <div class="mb-3 d-flex">
              <input type="text" class="form-control me-2" placeholder="First Name">
              <input type="text" class="form-control" placeholder="Last Name">
        </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Mobile Number">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="User Name">
          </div>
          <p>Gender</p>
          <div class="mb-2 d-flex">
            <div class="form-check gender me-2">
                <label class="form-check-label" for="exampleRadios1">
                    Male
                </label>
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="male">
            </div>
            
            <div class="form-check gender">
                <label class="form-check-label" for="exampleRadios1">
                    Fe-Male
                </label>
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="female">
            </div>
            
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Password" type="password">
          </div>
          <div class="buttonContainer d-flex flex-column align-items-center justify-content-center">
              <button type="submit" class="btn">Sign Up</button>
            </div>
        </fieldset>
      </form>
    </div>