<div class="container">
<form>
    <fieldset >
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Email or User Name">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Password" type="password">
      </div>
      <div class="buttonContainer d-flex flex-column align-items-center justify-content-center">
          <button type="submit" class="btn">Login</button>
          <a href="/forgotpassword">Forgot password?.</a>
          <button type="button" (click)="redirectToSignUp()" class="btn">Sign Up</button>
        </div>
    </fieldset>
  </form>
</div>