.container {
    background-color: black;
    padding : 50px;
    border-radius: 20px;
}
input {
    color : white;
    width : 300px;
}

button {
    color: black;
    background-color: white;
    width: 300px;
}

a {
    color: white;
    margin : 10px 0;
}